<div [ngSwitch]="movieOrTvSeries">

  <div *ngSwitchCase="'MOVIES'">
    <div *ngIf="!loadingData(); else loadingBlock">
      <div class="card">
        <div class="image">
          <a [routerLink]="" (click)="openEditDialog()">
            <img *ngIf="movieDetails && movieDetails.poster_path" [src]="movieDetails.poster_path" [width]="imgWidth" [height]="imgHeight" alt="Poster">
          </a>
        </div>
        <div class="content">
          <h2 *ngIf="movieDetails && movieDetails.title">
            <a [routerLink]="" (click)="openEditDialog()">
              {{ movieDetails.title | title }}
            </a>
          </h2>
          <app-star-rating [rating]="currentReview().rating" [canEditRating]="false"></app-star-rating>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'TVSERIES'">
    <div *ngIf="!loadingData(); else loadingBlock">
      <div class="card">
        <div class="image">
          <a [routerLink]="" (click)="openEditDialog()">
            <img *ngIf="tvSeriesDetails && tvSeriesDetails.poster_path"  [src]="tvSeriesDetails.poster_path" [width]="imgWidth" [height]="imgHeight" alt="Poster">
          </a>
        </div>
        <div class="content">
          <h2 *ngIf="tvSeriesDetails && tvSeriesDetails.name">
            <a [routerLink]="" (click)="openEditDialog()">
              {{ tvSeriesDetails.name | title }}
            </a>
          </h2>
          <app-star-rating [rating]="currentReview().rating" [canEditRating]="false"></app-star-rating>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #loadingBlock>
  <app-loading-spinner [isLoading]="loadingData()"></app-loading-spinner>
</ng-template>
