.card {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
  /* margin-top: 30px; */
}

img {
  width: 220px;
  /* object-fit: contain; */
}

.content {
  width: 100%;
  padding: 0px 10px 12px;
  position: relative;
  white-space: normal;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

h2 {
  font-size: 0.75em;
  margin: 0;
  width: 100%;
  word-wrap: normal;
  overflow-wrap: break-word;
}

.content a {
  font-weight: 700;
  font-size: 1em;
  color: #000;
}

.content .release-date p {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .6);
}
