
<div [ngSwitch]="movieOrTvSeries">
  <div *ngSwitchCase="'MOVIES'">
    <div *ngIf="!loadingData; else loadingBlock">
      <div class="card">
        <div class="image">
          <a [routerLink]="" (click)="openEditDialog()">
            <img [src]="movieDetails.poster_path" alt="{{ movieDetails.title }}">
          </a>
        </div>
        <div class="content">
          <h2>
            <a [routerLink]="" (click)="openEditDialog()">
              {{ movieDetails.title | title }}
            </a>
          </h2>
          <app-star-rating [rating]="reviewRating" [canEditRating]="false"></app-star-rating>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'TVSERIES'">
    <div *ngIf="!loadingData; else loadingBlock">
      <div class="card">
        <div class="image">
          <a [routerLink]="" (click)="openEditDialog()">
            <img [src]="tvSeriesDetails.poster_path" alt="{{ tvSeriesDetails.name }}">
          </a>
        </div>
        <div class="content">
          <h2>
            <a [routerLink]="" (click)="openEditDialog()">
              {{ tvSeriesDetails.name | title }}
            </a>
          </h2>
          <app-star-rating [rating]="reviewRating" [canEditRating]="false"></app-star-rating>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #loadingBlock>
  <app-loading-spinner [isLoading]="loadingData"></app-loading-spinner>
</ng-template>

