<div [ngSwitch]="movieOrTvSeries">
  <div *ngSwitchCase="'MOVIES'">
    <div *ngIf="!loadingData; else loadingBlock">
      <div class="card">
        <div class="image">
          <a [routerLink]="" (click)="openDialog()">
            <img [src]="movieDetails.poster_path" width="210" height="350" alt="{{ movieDetails.title }}" priority>
          </a>
        </div>
        <div class="content">
          <h2>
            <a [routerLink]="" (click)="openDialog()">
              {{ movieDetails.title | title }}
            </a>
          </h2>
          <div class="release-date">
            <p>
              Released: {{ movieDetails.release_date }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'TVSERIES'">
    <div *ngIf="!loadingData; else loadingBlock">
      <div class="card">
        <div class="image">
          <a [routerLink]="" (click)="openDialog()">
            <img [src]="tvSeriesDetails.poster_path" width="210" height="395" alt="{{ tvSeriesDetails.name }}" priority>
          </a>
        </div>
        <div class="content">
          <h2>
            <a [routerLink]="" (click)="openDialog()">
              {{ tvSeriesDetails.name | title }}
            </a>
          </h2>
          <div class="release-date">
            <p>
              Air Date: {{ tvSeriesDetails.first_air_date }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #loadingBlock>
  <app-loading-spinner [isLoading]="loadingData"></app-loading-spinner>
</ng-template>

