<div *ngIf="canEditRating else noEditRating">
  <div
    class="star-rating"
    (mouseover)="highlightStar($event)"
    (mouseleave)="resetStars()"
    (click)="rate($event)">
    <span
      class="star"
      *ngFor="let star of stars; let i = index"
      [class.highlighted]="i < currentRating"
      [attr.data-value]="i + 1">
      &#9733;
    </span>
  </div>
</div>
<!-- Need to set highlighted stars -->
<ng-template #noEditRating>
  <div
    class="star-rating">
    <span
      class="star"
      *ngFor="let star of stars; let i = index"
      [class.highlighted]="i < currentRating"
      [attr.data-value]="i + 1">
      &#9733;
    </span>
  </div>
</ng-template>

